{% extends 'base.html' %}

{% block content %}

    <form class="" action="{% url 'login' %}" method="post">
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <article class="message is-danger">
      <div class="message-header">
        <p>Error</p>
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body">
        {{ error }}
        </div>
    </article>
      
          {% endfor %}
      {% endif %}

      {% for error in form.username.errors %}
      <article class="message is-danger">
  <div class="message-header">
    <p>Error</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    {{ form.username.errors }}
    </div>
</article>

      {% endfor %}
      <section >
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Howdy User!</h3>
                    <p class="subtitle has-text-grey">Please Signup to proceed.</p>
                    <div class="box">
                        <form>
                            <div class="field">
                                <div class="control">
                                  <label for="id_username" id="{{form.username.id_for_label}}">{{ form.username.label }}</label>
                                  <input class="input is-large"type="text" name="{{form.username.html_name}}" value="{% if form.username.value %}{{form.username.value}}{% endif %}" id="id_username">

                                </div>
                            </div>

      {% for error in form.password.errors %}
      <article class="message is-danger">
  <div class="message-header">
    <p>Error</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    {{ form.password.errors }}
    </div>
</article>

      {% endfor %}
                            <div class="field">
                              <div class="control">
                                <label for="id_password" id="{{form.password.id_for_label}}">{{ form.password.label }}</label>
                                <input class="input is-large"type="password" name="{{form.password.html_name}}" value="{% if form.password.value %}{{form.password.value}}{% endif %}" id="id_password">

                                </div>
                          </div>
                          <div class="field">
                              <label class="checkbox">
                <input type="checkbox">
                Remember me
              </label>


      <input class="button is-block is-info is-large is-fullwidth" type="submit" name="" value="Login">
    </form>

{% endblock %}
