
{% extends 'base.html' %}

	{% block content %}

		<br>
		<section class="hero is-small is-dark" >
				<div class="hero-body">
					Howdy {{ profile.user }} !
				</div>
		</section>
		<br>

		<div class="tile is-ancestor">
			<div class="tile is-vertical is-8">
				<div class="tile">
					<div class="tile is-parent is-vertical">
						<article class="tile is-child notification is-grey">
              <p class="title">Streak &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.streak}}</p>
              <figure class="image is-4by4">
                <img src="https://image.freepik.com/free-vector/love-emoji_53876-25514.jpg">
							</figure>
            </article>
						<article class="tile is-child notification is-grey">
							<p class="title">Interests</p>
              {% for intrest in profile.intrests.all %}
              <p>{{intrest.topic}}</p>
              {% endfor %}

						</article>
					</div>
					<div class="tile is-parent">
						<article class="tile is-child notification is-grey">
							<p class="title">User Details</p>
							<p class="subtitle">{{profile.name}} {{profile.email_id}}</p>

							<figure class="image is-4by3">
								<img src="https://image.flaticon.com/icons/svg/145/145852.svg">
							</figure>

						</article>
					</div>
				</div>
				<div class="tile is-parent">
					<article class="tile is-child notification is-grey">
						<p class="title">Working Hours</p>
            {{profile.notification_time}}
					<div class="content">
						<!-- Content -->
					</div>
					</article>
				</div>
			</div>
			<div class="tile is-parent">
				<article class="tile is-child notification is-grey">
					<div class="content">
						<p class="title">Rewards &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile.coins}}</p>
            <img src="https://image.freepik.com/free-vector/business-leader-man-holding-winner-golden-cup_3446-650.jpg"
						<div class="content">
              <br>
              <br><br><br><br><br><br><br>
					<a class="button is-link is-large is-fullwidth" href="{% url 'keywords-list' %}">Go to TODOS</a>
						</div>
					</div>
				</article>
			</div>

		</div>
{% endblock %}
