{% extends 'base.html' %}


{% block content %}
<form class="" action="{% url 'signup' %}" method="post">
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
  {% endif %}

  {% for error in form.username.errors %}
    {{ form.username.errors }}
  {% endfor %}
  <section >
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Howdy User!</h3>
                    <p class="subtitle has-text-grey">Please Signup to proceed.</p>
                    <div class="box">
                            <div class="field">
                                <div class="control" onclick="showstuff('help1');">
                                    <label for="id_username" id="{{form.username.id_for_label}}">{{ form.username.label }}</label>

                                    <input class="input is-large" type="text" name="{{form.username.html_name}}" value="{% if form.username.value %}{{form.username.value}}{% endif %}" id="id_username">

                                </div>
                            </div>

                            {% for error in form.password1.errors %}
                            {{ form.password1.errors }}
                            {% endfor %}
                            <div class="field">
                                <div class="control">
                                    <label for="id_password1" id="{{form.password1.id_for_label}}">{{ form.password1.label }}</label>
                                    <input class="input is-large"type="password" name="{{form.password1.html_name}}" value="{% if form.password1.value %}{{form.password1.value}}{% endif %}" id="id_password1">

                                </div>
                            </div>


                            {% for error in form.password2.errors %}
                            {{ form.password2.errors }}
                            {% endfor %}
                            <div class="field">
                                <div class="control">
                                  <label for="id_password2" id="{{form.password2.id_for_label}}">{{ form.password2.label }}</label>
                                  <input class="input is-large"type="password" type="password" name="{{form.password2.html_name}}" value="{% if form.password2.value %}{{form.password2.value}}{% endif %}" id="id_password2">
                                  </div>
                            </div>
                            
                            <input class="button is-block is-info is-large is-fullwidth" type="submit" name="" value="Signup">
                          </div>
                                      </div>
                                  </div>
                              </section>
                          </form>

                          {% endblock %}
